<div class="create-button">
    <button mat-stroked-button color="basic" (click)=createForm()>Add</button>
</div>

<div *ngIf="showCreateForm" class="create-form">
    <form [formGroup]="newEntityForm" (ngSubmit)="onSubmit(newEntityForm.value)">
        <br>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName = "name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Created at</mat-label>
            <input matInput [matDatepicker]="picker" formControlName = "createdAt">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <button mat-icon-button color="primary" type="submit">
            <mat-icon>send</mat-icon>
        </button>
    </form>
</div>

<div class="list-of-all-items" *ngFor="let team of teams;">
    <p>ID: {{team.id}}</p>
    <p>Name: {{team.name}}</p>
    <p>Created at: {{team.createdAt | ukrainianDate}}</p>

    <button mat-icon-button color="primary" (click)="remove(team.id)">
        <mat-icon>delete</mat-icon>
    </button>
</div>