<div class="create-button">
    <button mat-stroked-button color="basic" (click)=createForm()>Add</button>
</div>

<div *ngIf="showCreateForm" class="create-form">
    <form [formGroup]="newEntityForm" (ngSubmit)="onSubmit(newEntityForm.value)">
        <br>
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput formControlName = "firstName">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput formControlName = "lastName">
          </mat-form-field>
        <br>
        <mat-form-field>
         <mat-label>Email</mat-label>
           <input matInput formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Team id</mat-label>
              <input matInput formControlName="teamId">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Birthday</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthday">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <button mat-icon-button color="primary" type="submit">
            <mat-icon>send</mat-icon>
        </button>
    </form>
</div>

<div class="list-of-all-items" *ngFor="let user of users;">
    <p>ID: {{user.id}}</p>
    <p>First name: {{user.firstName}}</p>
    <p>Last name: {{user.lastName}}</p>
    <p>Email: {{user.email}}</p>
    <p>Birthday: {{user.birthday | ukrainianDate}}</p>
    <p>Registered at: {{user.registeredAt | ukrainianDate}}</p>
    <p>Team id: {{user.teamId}}</p>

    <button mat-icon-button color="primary" (click)="remove(user.id)">
        <mat-icon>delete</mat-icon>
    </button>
</div>