<div class="create-button">
    <button mat-stroked-button color="basic" (click)=createForm()>Add</button>
</div>

<div *ngIf="showCreateForm" class="create-form">
    <form [formGroup]="newEntityForm" (ngSubmit)="onSubmit(newEntityForm.value)">
        <br>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName = "name">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName = "description"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Author id</mat-label>
          <input matInput formControlName = "authorId">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Team id</mat-label>
          <input matInput formControlName = "teamId">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Created at</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName = "createdAt">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Deadline</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName = "deadline">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <br>
        <button mat-icon-button color="primary" type="submit">
            <mat-icon>send</mat-icon>
        </button>
    </form>
</div>

<div class="list-of-all-items" *ngFor="let project of projects;">
    <p>ID: {{project.id}}</p>
    <p>Name: {{project.name}}</p>
    <p>Created at: {{project.createdAt | ukrainianDate}}</p>
    <p>Deadline: {{project.deadline | ukrainianDate}}</p>
    <p>Author id: {{project.authorId}}</p>
    <p>Team id: {{project.teamId}}</p>
    <p>Description: {{project.description}}</p>

    <button mat-icon-button color="primary" (click)="remove(project.id)">
        <mat-icon>delete</mat-icon>
    </button>
</div>