<div class="create-button">
    <button mat-stroked-button color="basic" (click)=createForm()>Add</button>
</div>

<div *ngIf="showCreateForm" class="create-form">
    <form [formGroup]="newEntityForm" (ngSubmit)="onSubmit(newEntityForm.value)">
        <br>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName = "name">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName = "description"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Performer id</mat-label>
          <input matInput formControlName = "performerId">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Project id</mat-label>
          <input matInput formControlName = "projectId">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>State</mat-label>
          <input matInput formControlName = "state">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Created at</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName = "createdAt">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Finished at</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName = "finishedAt">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <br>
        <button mat-icon-button color="primary" type="submit">
            <mat-icon>send</mat-icon>
        </button>
    </form>
</div>

<div class="list-of-all-items" *ngFor="let task of tasks;" appTaskStatus status="{{task.state}}">
    <p>ID: {{task.id}}</p>
    <p>Name: {{task.name}}</p>
    <p>Created at: {{task.createdAt | ukrainianDate}}</p>
    <p>Finished at: {{task.finishedAt | ukrainianDate}}</p>
    <p>State: {{task.state}}</p>
    <p>Project id: {{task.projectId}}</p>
    <p>Performer id: {{task.performerId}}</p>
    <p>Description: {{task.description}}</p>
    
    <button mat-icon-button color="primary" (click)="remove(task.id)">
        <mat-icon>delete</mat-icon>
    </button>
</div>