@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f5f5f5; }
a { text-decoration: none; }

.list-of-all-items {
    background-color: #ffffff;
    width: 300px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #e8e8e8;
    text-align: center;
}

.create-form {
    border-radius: 5px;
    border: 2px solid #e8e8e8;;
    width: 300px;
    margin: auto;
    text-align: center;
}

.create-button {
    margin: 15px;
    text-align: center;
}
