<nav class="routing">
  <button class="routing-button" mat-raised-button routerLink="/projects" routerLinkActive="active" color="primary">Projects</button>
  <button class="routing-button" mat-raised-button routerLink="/users" routerLinkActive="active" color="primary">Users</button>
  <button class="routing-button" mat-raised-button routerLink="/tasks" routerLinkActive="active" color="primary">Tasks</button>
  <button class="routing-button" mat-raised-button routerLink="/teams" routerLinkActive="active" color="primary">Teams</button>
</nav>
<router-outlet></router-outlet>
